.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.lr-drop-target-before{
  border-left: 2px solid orange;
}
.select-page {
  width: 50px;
  text-align: center;
}
.pagination li a input {
  padding: 0;
  margin: -5px 0;
}

.lr-drop-target-after{
  border-right: 2px solid orange;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  /*  background-color: #a9c4ef87 !important; */
  background-image: linear-gradient(#f3f3f3, #f3f3f3, #f3f3f3) !important;
}
.btn-primary{
    margin-right: 10px;
}
/* .datatable-container{
  margin: 20px 0;
} */
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td{
	  border-top: 0;
   /*  background-color: #315fa9; */
      background-image: linear-gradient(#225588, #225588, #225588) !important;
    color: #ffffff !important;
}
.st-selected > td {
  background: aliceblue;
}

.pagination-center
{
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px !important;
    padding-left:50px !important;
    border-color:black !important;
    
}
.datatable .datatable>li>a, .datatable>li>span{
    margin-left: 0 ;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
    list-style: none ; 
    justify-content: center;
}
.datatable >li>a, .datatable>li>span {
    position: relative ;
    float: left ;
    padding: 6px 12px ;
    margin-left: -1px ;
    line-height: 1.42857143 ;
    color: #ffffff ;
    text-decoration: none ;
     background-image: linear-gradient(#225588, #225588, #225588) !important;
    border: 1px solid #ddd ;
    list-style: none; 
}
.box{
 border : 1px solid blue;
 
}
.show > .dropdown-menu {
  display: block;
}
/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}
select {
height: calc(1rem + 20px) !important;
width: 200px !important;
border: 1px solid #215a8f !important;
padding: 0 0.5em;
}

.table-striped>tbody>tr:nth-of-type(odd) {
   /*  background-color: #6d2f2f; */
   background-image: linear-gradient(#babae0eb, #f3f3f3, #babae0eb) !important;
}

